.coordString {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: white;
    color: black;
    padding: 10px;
    z-index: 1000
}
.mapRow{
    text-align: center;
    height: 100%;
    width: 100%;
}

.map-container{
    height: 100vh;
    width: 100%;
}

.clicked-coord-label{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 5px;
}
